/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-meta: 1.75rem;
  
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (width <= 35em) {
  :root {
      --fs-800: 3.5rem;
      --fs-700: 1.5rem;
      --fs-600: 1.5rem;
      --fs-500: 1rem;
      --fs-400: 1rem;
      --fs-300: 0.875rem;
  }
}


@media (35em < width <= 56em) {
  :root {
    /* font-sizes */
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.25rem;
    --fs-400: 1.125rem;
  }
}

/*---------------- */
/*animation        */
/*---------------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes appearing {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes comeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes comeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*---------------- */
/*Reset            */
/*---------------- */
*, 
*:before, 
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-size: var(--fs-400);
  font-family: var(--ff-sans-normal);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark) );
  overflow: visible;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
select {
    font: inherit;
}

#root {
  display: grid;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
  background-size: cover;
  background-position: bottom center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5em;
}

/*=========background images=======*/

#root.home {
  background-image: url(./assets/home/background-home-mobile.jpg);
}

#root.destination {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
}

#root.crew {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
}

#root.technology {
  background-image: url(./assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 35em) {
  #root.home {
      background-position: center center;
      background-image: url(./assets/home/background-home-tablet.jpg);
  }

  #root.destination {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }

  #root.crew {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }

  #root.technology {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 56em) {
  #root.home {
      background-image: url(./assets/home/background-home-desktop.jpg);
  }

  #root.destination {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
  }

  #root.crew {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
  }

  #root.technology {
    background-image: url(./assets/technology/background-technology-desktop.jpg);
  }
}

/*retira as animacoes dado preferencia do usuario*/
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*---------------- */
/*Utility Classes  */
/*---------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.block {
  display: block;
}

.numered-title {
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  letter-spacing: 2.7px;
  font-size: var(--fs-500);
  font-weight: 100;
}

.numered-title > span{
  color: hsl(var(--clr-light) / .5);
  margin-right: .6em;
  font-weight: bold;
}

.container {
  max-width: 80rem;
  padding: 2rem;
  place-items: center;
  text-align: center;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

/*cores*/

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-light {
  background-color: hsl(var(--clr-light) );
}

.bg-white {
  background-color: hsl(var(--clr-white) );
}

.dark-font {
  color: hsl(var(--clr-dark) );
}

.light-font {
  color: hsl(var(--clr-light) );
}

.white-font {
  color: hsl(var(--clr-white) );
}

/*tipografia*/

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }
.fs-meta { font-size: var(--fs-meta); }

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

/*---------------- */
/*componentes      */
/*---------------- */
.logo {
  padding: 0 1em;
}

.primary-navbar {
  z-index: 1000;
  font-size: var(--fs-400);
  font-family: var(--ff-sans-cond);
  --gap: 3rem;
  list-style: none;
  padding: 1em clamp(1.5rem, 5vw, 4rem) 0;
  max-width: min(100vw, 80rem);
  background-color: hsl(var(--clr-white) /.05);
  backdrop-filter: blur(1.5rem);
}

.burger-btn,
.close-btn {
  display: none;
}

header {
  justify-content: space-between;
  max-width: 100vw;
  align-items: center;
  margin-top: 1rem;
}

.primary-navbar * {
  color: hsl(var(--clr-white) );
  text-decoration: none;
}

.primary-navbar span {
  margin-right: .7em;
  font-weight: 700;
}

.underline >*,
.underline .active{
  border-bottom: 0.188em solid hsl(var(--clr-light) / 0);
  padding: 1.3rem 0 max(2vw, 2rem) 0;
}

.underline >*:hover,
.underline >*:focus {
  border-color: hsl(var(--clr-light) / .4);
  cursor: pointer;
}

.underline .active {
  border-color: hsl(var(--clr-white) );
}

@media (max-width: 35em) {
  .primary-navbar {
    --gap: 1.5em;
    position: fixed;
    inset: 0 0 0 30%;
    padding: 20vh 2em;
    flex-direction: column;
    transform: translateX(100%);
    transition: ease-in-out 700ms;
  }

  #open-menu  {
    transform: translateX(0);
  }

  .burger-btn,
  .close-btn {
    z-index: 2000;
    display: block;
    position: absolute;
    top: min(5vw, 2.5rem);
    right: 2rem;
    height: 1.5rem;
    width: 1.3rem;
    border: none;
    background-color: transparent;
    background-image: url("./assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .close-btn {
    background-image: url("./assets/shared/icon-close.svg");
  }

  .underline * {
    border-bottom:0.188rem solid transparent;
    padding-bottom: .3rem;
  }
  .underline >*:hover{
    border-color: hsl(var(--clr-light) / .4);
  }
}

/* HOME */

.home-container {
  display: grid;
  place-items: center;
  padding: 2em;
  max-width: max(100vw, 80rem);
  margin-inline: auto;
}

.home-text {
  text-align: center;
  max-width: 50ch;
  animation: comeFromLeft ease-out .5s
}

.large-button {
  position: relative;
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  padding: 1.5em;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  animation: appearing ease-out .5s;
}

.large-button::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: -1;
  background-color: hsl(var(--clr-white) /.1);
  transition: transform 500ms ease-in-out, background-color 700ms linear;
}

.large-button:hover::after {
  transform: scale(1.4);
  background-color: hsl(var(--clr-white) /.3);
}

@media (35em <= width < 56em) {
  .primary-navbar span {
    display: none;
  }
}
  
@media (min-width: 56em) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    justify-self: center;
    --gap: min(15vw, 20rem);
    padding-top: 5rem;
  }

  .home-text {
    text-align: left;
  }

  .primary-navbar {
    padding-right: 15vw;
    padding-left: 8vw;
    height:fit-content;
  }

  .home-nav::after {
    content: '';
    display: block;
    max-width: 36%;
    height: 1px;
    background-color: hsl(var(--clr-white) /.3);
    position: relative;
    order: 2;
    left: -34%;
    bottom: 2.7em;
  }

  .home-nav {
    order: 1;
  }
}

/*-----------------------------------------DESTINATION---------------------------------*/
.destination-container {
  grid-template-areas: 
   'title'
   'img' 
   'info'
   'meta';
   justify-items: center;
   --flow-space: 2rem;
}

#destination-nav .underline >*,
#destination-nav .active {
  padding: .5em 0px;
}

.numered-title {
  grid-area: title;
}

.destination-container img{
  grid-area: img;
  max-width: 60%;
}

.destination-photo {
  animation: rotation linear 90s .25s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.destination-info {
  grid-area: info;
  max-width: 50ch;
}

.destination-info h2,
.destination-info p {
  animation: fadeIn ease-in .5s;
}

.tab {
  justify-content: center;
}

.destination-meta {
  grid-area: meta;
  display: flex;
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) /.1);
  padding:2rem 0 3rem 0;
  width: 100%;
  gap: 1.7rem;
}

.destination-meta p {
  margin-top: .3em;
}

@media (min-width:35em) { 
  .numered-title {
    justify-self: start;
  }

  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width:56em) {
  .destination-container {
    grid-template-areas: 
    'title info'
    'img info'
    'img meta';
     justify-items: center;
     --flow-space: 1.5rem;
     padding-inline: 4rem;
     justify-self: center;
     column-gap: clamp(2rem, 6vw, 10rem);
  }
  
  .destination-container img {
    max-width: 100%;
  }

  .destination-info {
    text-align: left;
  }

  .tab {
    justify-content: start;
  }


  .destination-meta {
    align-self: start;
    justify-content: start;
  }
}

/*-----------------------------------------CREW PAGE---------------------------------*/

.crew-job {
  color: hsl(var(--clr-light) / .75);
  margin: 0;
}

.circular-toggle li a {
  display: inline-block;
  width: 1rem;
  aspect-ratio: 1;
}

.circular-toggle li {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1;
  background-color: hsl(var(--clr-light) / .5);
  border-radius: 50%; 
}

.circular-toggle li:is(:hover, :focus) {
  background-color: hsl(var(--clr-light) / 1);
}

.circular-toggle li:has(a.active) {
  background-color: hsl(var(--clr-white) );
}

.crew-container {
  grid-template-areas: 
   'title'
   'img' 
   'crewNav'
   'info';
   justify-items: center;
   row-gap: 0;
}

.crew-title {
  grid-area: title;
}

.crewMember-image-container {
  grid-area: img;
  padding-inline: 4rem;
  border-bottom: solid .5px rgb(210, 216, 249, .5);
  animation: appearing ease-in-out .5s;
  margin-top: 1em;
}

.crew-nav {
  grid-area: crewNav;
  margin: 1em 0;
}

.crewMember-info {
  grid-area: info;
  animation: comeFromLeft ease-out .5s;
}

.crewMember-info > h2 {
  font-weight: 200;
}

@media (min-width:35em) {
  .crew-container {
    grid-template-areas: 
    'title'
    'info'
    'crewNav'
    'img' ;
  }

  .crew-container > *:is(:not(:first-child)) {
    margin-top: 3rem;
  }

  .crewMember-image-container  {
    position: relative;
    bottom: -2rem;
    border: 0;   
  } 
}

@media (min-width:56em) {
  .crew-container {
    grid-template-areas: 
    'title .'
    'info img'
    'crewNav img'
    '. img';
    grid-template-columns: 2fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;
    padding: min(5rem, 10vw) min(5rem, 10vw) 0;
    overflow-y: hidden;
    justify-items: left;
    justify-self: center;
  }

  .crewMember-info {
    text-align: left;
  }

  .crewMember-info > p {
    max-width: 48ch;
  }

  .crew-container .crew-nav {
    margin-top: 0;
  }

  .crewMember-image-container {
    padding: 0;
  }
}

/*-----------------------------------------technology PAGE---------------------------------*/

.technology-nav {
  display: grid;
  place-items: center;
}

.technology-nav li {
  width: 5rem;
  aspect-ratio: 1;
  border: solid .5px rgb(210, 216, 249, .5);
  border-radius: 50%;
  text-align: center;
  display: grid;
  cursor: pointer;
}

.technology-nav li:hover {
  border: solid .5px rgb(210, 216, 249, 1);
}

.technology-container {
  grid-template-areas: 
   'title'
   'technologyImg' 
   'technologyNav'
   'technologyInfo';
   place-items: center;
   justify-items: center;
   row-gap: 0;
}

.technology-title {
  grid-area: title;
}

.technology-nav {
  grid-area: technologyNav;
}

.technology-info {
  grid-area: technologyInfo;
  text-align: center;
  padding: 0 clamp(3rem, 4rem, 10vw) 2rem;
  animation: comeFromBottom ease-out .5s;

}

.technology-info > p {
  max-width: 48ch;
}

.technology-image {
  grid-area: technologyImg;
  animation: appearing ease-in-out .5s;
}

.technology-nav a {
  color: hsl(var(--clr-white) );
  text-decoration: none;
  place-self: center;
  aspect-ratio: 1;
}

.technology-nav li:has(a.active){
  background-color: hsl(var(--clr-white) );
}

.technology-nav a.active{
  color: black;
}

@media (min-width:56em) {
  .technology-container {
    grid-template-areas: 
     'title . . .'
     'technologyNav technologyInfo technologyInfo technologyImg' 
     ;
     grid-template-columns: .6fr .7fr .6fr; 
    /* grid-template-areas: 
     'title .'
      'technologyNavInfo technologyImg'
     ;*/
  }

  /*.technology-nav {
    grid-area: technologyNavInfo;
  }*/

  .technology-nav ul{
    flex-direction: column;
  }

  .technology-info {
    text-align: left;
    padding: 0;
    display: grid;
    justify-content: left;
    /* grid-area: technologyNavInfo; */
  }

  .technology-title {
    position: relative;
    right: -2em;
    bottom: -1em;
  }
}

